<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/sisgea_logo.png', width: 135, height: 35, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/unmsm_logo.jpg', width: 35, height: 35, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="asideMenuToggler"
  [mobileAsideMenuToggler]="mobileAsideMenuToggler">
  <ul class="nav navbar-nav d-md-down-none">

  </ul>
  <ul class="nav navbar-nav ml-auto mr-2">
    <!--<li class="nav-item dropdown d-md-down-none">
      <a aria-haspopup="true" class="nav-link" data-toggle="dropdown" dropdowntoggle="" href="#" role="button" aria-expanded="false">
        <i class="icon-bell"></i>
        <span class="badge badge-pill badge-danger">5</span>
      </a>
      <div
        aria-labelledby="simple-dropdown" class="dropdown-menu dropdown-menu-right dropdown-menu-lg"
        style="left: auto; right: 0px; top: 100%; transform: translateY(0px);">
        <div class="dropdown-header text-center">
          <strong>5 notificaciones</strong>
        </div>
        <a class="dropdown-item" style="font-size: 10px !important;">
          <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i>
          Tipo de cambio SBS no registrado
        </a>
      </div>
    </li>-->
    <li (click)="redirectParametrosSistema()" class="nav-item px-3 redirect" *ngIf="permisoConsultaFechaProceso">
      <i class="fa fa-calendar"></i>&nbsp;Fecha Proceso: <span *ngIf="loadingFecha; else fechaCargada">Cargando...</span>
        <ng-template #fechaCargada>{{ fechaProceso === null ? 'No se puede mostrar': fechaProceso }} </ng-template>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link ob-custom-label-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
         <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{nombreUsuario}} <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" (click)="onLogout()"><i class="fa fa-sign-out"></i> Cerrar Sesión </a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
 <app-sidebar [fixed]="fixed" [display]="'lg'" #sidebar>

   <div class="sidebar-form ob-custom-search-sidebar">
       <div class="input-group">
         <input id="txtSidebarSearch" type="search"
           [(ngModel)]="childSelected"
           [typeahead]="allChildren"
           typeaheadOptionField="name"
           (typeaheadOnSelect)="onSelect($event)"
           class="form-control"
           placeholder="Buscar...">
         <div class="input-group-append ob-custom-btn-search">
           <span class="input-group-text ob-custom-span-search"><i class="fa fa-search"></i></span>
         </div>
       </div>
     </div>
     <li class="nav-title ob-custom-li">
       Navegación
       <div class="pull-right">
         <button type="button" class="btn btn-xs" (click)="contractSidebarItems()" tooltip="Contraer"><i class="fa fa-compress" aria-hidden="true" style="color: #fff"></i></button>
       </div>
     </li>
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized" #sidebarNav></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <main class="main">
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!--<li class="breadcrumb-menu d-md-down-none">
        <app-ob-modal-help [componente]="componenteActual"></app-ob-modal-help>
      </li>-->
    </ol>
    <div class="container-fluid">
      <router-outlet (activate)='onActivate($event)'></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span><a href="#">{{infoApp.company}}</a> &copy; {{infoApp.year}}</span>
  <span class="ml-auto">Versión {{infoApp.version}}</span>
</app-footer>
