<app-modal [title]="options.title" [class]="options.modalClass" [closeLabel]="options.buttons.cancel.text"
[classCloseBtn]="'btn-secondary'" [btns]="false" #md>
  <form [formGroup]="form" (validSubmit)="ok()" #mdform="ngForm" >
    <fieldset class="well" style="background-color: #F5F5F5">
      <legend class="well-legend"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Formulario </legend>
      <ng-content></ng-content>
    </fieldset>
    <div class="pull-right" style="margin-right: 16px;">
      <button type="submit" style="margin-left: 10px;" [disabled]="options.buttons.ok.disabled"
        class="btn" [hidden]="options.buttons.ok.hidden"
        [ngClass]="[options.buttons.ok.class ? options.buttons.ok.class : 'btn-primary' ]">
        {{options.buttons.ok.text}}
      </button>
      <button type="button" class="btn"
        [ngClass]="[options.buttons.cancel.class ? options.buttons.cancel.class : 'btn-secondary']"
        (click)="hide()">{{options.buttons.cancel.text}}
      </button>
    </div>
  </form>
</app-modal>
