.app-body{
    background-image: url("assets/img/fondo_unmsm.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
}

.ng-select {
  width: 1%;
  position: relative;
  flex: 1 1 auto;
}
