.app-body{
    //background-image: url("assets/img/brand/fondo_rojo.png");
    background-image: url("assets/img/brand/nuevo_fondo.jpg");
    opacity: 0.9;
}

.ng-select {
  width: 1%;
  position: relative;
  flex: 1 1 auto;
}
