<app-template-mantenimiento [type]="type" (clickRegisterBtn)="showMdRegister()" 
 [detailType]="detailType"  #templatePerfilSeg>
  <app-pagelength [gridApi]="gridApi"></app-pagelength>
  <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions"></ag-grid-angular>
</app-template-mantenimiento>

<app-form-modal [options]="mdFormOpts" (onSubmit)="save()" [form]="form" #mdSave>
  <div [formGroup]="form">
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Id Perfil</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="idPerfil">
        <bfv-messages></bfv-messages>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Sistema</label>
      <div class="col-sm-10">
        <ng-select [items]="sistemas" class="ng-select-custom" bindLabel="descripcionSistema" bindValue="idSistema"
          placeholder="Seleccionar sistema" [notFoundText]="'No hay datos encontrados.'" formControlName="idSistema">
          <ng-template ng-option-tmp let-item="item">
            {{item.idSistema}} - {{item.descripcionSistema}}
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            {{item.idSistema}} - {{item.descripcionSistema}}
          </ng-template>
        </ng-select>
        <bfv-messages></bfv-messages>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Descripcion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="descripcionPerfil" uppercase description>
        <bfv-messages></bfv-messages>
      </div>
    </div>
    <div class="form-group row">
      <label for="inp-visualiza-pan" class="col-form-label col-sm-2">Visualiza PAN</label>
      <div class="col-sm-10">
        <div class="form-check">
          <ui-switch formControlName="visualizaPAN"></ui-switch>
          <bfv-messages></bfv-messages>
        </div>
      </div>
    </div>
  </div>
</app-form-modal>

<app-confirm-modal [options]="mdConfirmOpts" (confirm)="eliminarPerfil()" #mdDelete>
</app-confirm-modal>

<app-confirm-modal [options]="mdConfirmDisablePANOpts" (confirm)="actualizarPerfil()" #mdConfirmDisablePAN>
</app-confirm-modal>

<app-gestion-permisos [permisoRegistro]="templatePerfilSeg.permisoRegistroDetalle" #mdGestionPermisos></app-gestion-permisos>