<app-template-mantenimiento [type]="type" (clickRegisterBtn)="showMdRegister()"
(clickExportBtn)="onClickExport()" #template>
  <app-pagelength [gridApi]="gridApi"></app-pagelength>
  <ag-grid-angular
    #agGrid
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
  ></ag-grid-angular>
</app-template-mantenimiento>

<app-form-modal [options]="mdFormOpts" (onSubmit)="save()" [form]="form" #mdSave>
  <div [formGroup]="form">
      <div class="form-group row">
        <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Periodo</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <input type="number" class="form-control" formControlName="periodo">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Ciclo</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <input type="number" class="form-control" formControlName="ciclo">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Curso</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <input type="number" class="form-control" formControlName="curso">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Matriculados</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <input type="number" class="form-control" formControlName="matriculados">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Tipo Horario</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <input type="number" class="form-control" formControlName="tipoHorario">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Pabellón</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <ng-select #pabellonSelect [items]="pabellones" class="ng-select-custom" bindLabel="label"
            bindValue="idPabellon" placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
            formControlName="idPabellon">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Espacio Académico</label>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <ng-select #pabellonSelect [items]="espaciosAcademico" class="ng-select-custom" bindLabel="label"
            bindValue="idEspacioAcademico" placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
            formControlName="idEspacioAcademico">
          </ng-select>
        </div>
      </div>
  </div>
</app-form-modal>
