<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="float-left">
            <span *ngIf="!type.otherTitle" style="font-size: 1.25em">Mantenimiento {{type.name}}</span>
            <!--Se agrego otherTitle para pantallas que no requieran que se inicie con la palabra Mantenimiento en el titulo-->
            <span *ngIf="type.otherTitle" style="font-size: 1.25em">{{type.otherTitle}}</span>
          </div>
          <div class="float-right">
            <button *ngIf="permisoCarga" class="btn btn-primary" (click)="onClickCarga()">
              <i class="fa fa-upload" aria-hidden="true"></i>
              Carga masiva
            </button>
            <button *ngIf="permisoRegistro" class="btn btn-primary" (click)="onClickRegister()">
              <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
              {{type.name}}
            </button>
            <button *ngIf="permisoProcesar" class="btn btn-success" (click)="onClickProcesar()">
              <i class="fa" [ngClass]="loading ? 'fa-spinner fa-pulse fa-fw' : type.btnIcon"></i>&nbsp;
              {{type.btnText}}
            </button>
            <!--<button *ngIf="permisoExportacion" class="btn btn-success" [disabled]="downloading"
               (click)="onClickExport()">
              <i class="fa" [ngClass]="{'fa-spinner fa-pulse fa-fw': downloading
              , 'fa-download': !downloading}" aria-hidden="true"></i>
                Exportar
            </button>-->
          </div>
        </div>
        <div *ngIf="permisoConsulta" class="card-body">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
