<app-template-mantenimiento [type]="type" (clickProcesarBtn)="abrirModalRegistrar()" [loading]="loading" #template>
  <app-pagelength [gridApi]="gridApi"></app-pagelength>
  <ag-grid-angular
    #agGrid
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
  ></ag-grid-angular>
</app-template-mantenimiento>

<app-form-modal [options]="mdFormOpts" (onSubmit)="save()" [form]="form" #mdSave>
  <div class="row col-12">
    <div class="col-8">
      <div class="col-12">
        <fieldset class="well" style="background-color: #F5F5F5">
        <legend class="well-legend"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Filtros </legend>

          <div [formGroup]="formHorario">
            <div class="row">
              <label class="col-sm-2 ob-custom-label-form">Pabellon</label>
              <div class="form-group col-sm-4">
                <ng-select #pabellonSelect [items]="pabellon" class="ng-select-custom" bindLabel="label" bindValue="idPabellon"
                  placeholder="TODOS" [multiple]="true" [notFoundText]="'No hay datos encontrados.'"
                  formControlName="pabellon">
                </ng-select>
              </div>
              <label class="col-sm-2 ob-custom-label-form">Tipo Espacio</label>
              <div class="form-group col-sm-4">
                <ng-select #pabellonSelect [items]="pabellon" class="ng-select-custom" bindLabel="label" bindValue="idPabellon"
                  placeholder="TODOS" [multiple]="true" [notFoundText]="'No hay datos encontrados.'"
                  formControlName="tipoEspacio">
                </ng-select>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 ob-custom-label-form">Fecha Proceso</label>
              <div class="form-group col-sm-4">
                <div class="input-group">
                  <input stype="text" class="form-control" placeholder="" #drpFechaProceso="bsDaterangepicker"
                    [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue', adaptivePosition: true }"
                    bsDaterangepicker formControlName="fecha" />
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="drpFechaProceso.toggle()"><i class="icon-calendar"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 text-center">
                <button type="submit" class="btn btn-primary" [disabled]="buscando">
                  <i class="fa" [ngClass]="{'fa-spinner fa-pulse fa-fw': buscando  , 'fa-search': !buscando}"></i> Buscar
                </button>
              </div>
            </div>
          </div>

        </fieldset>
      </div>
      <div class="col-12">
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          [gridOptions]="gridOptionsHorario"
        ></ag-grid-angular>
      </div>
    </div>
    <div class="col-4">
      <div [formGroup]="form">
        <fieldset class="well" style="background-color: #F5F5F5">
          <legend class="well-legend"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Agregar solicitud </legend>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Periodo</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="number" class="form-control" formControlName="periodo">
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Ciclo</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="number" class="form-control" formControlName="ciclo">
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Curso</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="number" class="form-control" formControlName="curso">
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Matriculados</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="number" class="form-control" formControlName="matriculados">
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Tipo Horario</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="number" class="form-control" formControlName="tipoHorario">
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Pabellón</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <ng-select #pabellonSelect [items]="pabellones" class="ng-select-custom" bindLabel="label"
                bindValue="idPabellon" placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
                formControlName="idPabellon">
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Espacio Académico</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <ng-select #pabellonSelect [items]="espaciosAcademico" class="ng-select-custom" bindLabel="label"
                bindValue="idEspacioAcademico" placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
                formControlName="idEspacioAcademico">
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-12 text-center">
              <button type="submit" class="btn btn-success" [disabled]="prestando">
                <i class="fa" [ngClass]="{'fa-spinner fa-pulse fa-fw': prestando  , 'fa-search': !prestando}"></i> Prestar
              </button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

</app-form-modal>
